<Type Name="Events" FullName="Microsoft.Office.Project.Server.WebServiceProxy.Events">
  <TypeSignature Language="C#" Value="public class Events : Microsoft.Office.Project.Server.WcfWorkflowProxyBase&lt;Microsoft.Office.Project.Server.Interfaces.IEvents&gt;" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Events extends Microsoft.Office.Project.Server.WcfWorkflowProxyBase`1&lt;class Microsoft.Office.Project.Server.Interfaces.IEvents&gt;" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Office.Project.Server.WebServiceProxy.Events" />
  <TypeSignature Language="VB.NET" Value="Public Class Events&#xA;Inherits WcfWorkflowProxyBase(Of IEvents)" />
  <TypeSignature Language="C++ CLI" Value="public ref class Events : Microsoft::Office::Project::Server::WcfWorkflowProxyBase&lt;Microsoft::Office::Project::Server::Interfaces::IEvents ^&gt;" />
  <TypeSignature Language="F#" Value="type Events = class&#xA;    inherit WcfWorkflowProxyBase&lt;IEvents&gt;" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
    <AssemblyVersion>15.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Microsoft.Office.Project.Server.WcfWorkflowProxyBase&lt;Microsoft.Office.Project.Server.Interfaces.IEvents&gt;</BaseTypeName>
    <BaseTypeArguments>
      <BaseTypeArgument TypeParamName="!0">Microsoft.Office.Project.Server.Interfaces.IEvents</BaseTypeArgument>
    </BaseTypeArguments>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="CreateEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void CreateEventHandlerAssociations (Microsoft.Office.Project.Server.Schema.EventHandlersDataSet eventHandlers);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void CreateEventHandlerAssociations(class Microsoft.Office.Project.Server.Schema.EventHandlersDataSet eventHandlers) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.CreateEventHandlerAssociations(Microsoft.Office.Project.Server.Schema.EventHandlersDataSet)" />
      <MemberSignature Language="VB.NET" Value="Public Sub CreateEventHandlerAssociations (eventHandlers As EventHandlersDataSet)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void CreateEventHandlerAssociations(Microsoft::Office::Project::Server::Schema::EventHandlersDataSet ^ eventHandlers);" />
      <MemberSignature Language="F#" Value="member this.CreateEventHandlerAssociations : Microsoft.Office.Project.Server.Schema.EventHandlersDataSet -&gt; unit" Usage="events.CreateEventHandlerAssociations eventHandlers" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlers" Type="Microsoft.Office.Project.Server.Schema.EventHandlersDataSet" />
      </Parameters>
      <Docs>
        <param name="eventHandlers">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeleteEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void DeleteEventHandlerAssociations (Guid[] eventHandlerUids);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DeleteEventHandlerAssociations(valuetype System.Guid[] eventHandlerUids) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.DeleteEventHandlerAssociations(System.Guid[])" />
      <MemberSignature Language="VB.NET" Value="Public Sub DeleteEventHandlerAssociations (eventHandlerUids As Guid())" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void DeleteEventHandlerAssociations(cli::array &lt;Guid&gt; ^ eventHandlerUids);" />
      <MemberSignature Language="F#" Value="member this.DeleteEventHandlerAssociations : Guid[] -&gt; unit" Usage="events.DeleteEventHandlerAssociations eventHandlerUids" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlerUids" Type="System.Guid[]" />
      </Parameters>
      <Docs>
        <param name="eventHandlerUids">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociation">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociation (Guid eventHandlerUid);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociation(valuetype System.Guid eventHandlerUid) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.ReadEventHandlerAssociation(System.Guid)" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociation (eventHandlerUid As Guid) As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::Office::Project::Server::Schema::EventHandlersDataSet ^ ReadEventHandlerAssociation(Guid eventHandlerUid);" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociation : Guid -&gt; Microsoft.Office.Project.Server.Schema.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociation eventHandlerUid" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Project.Server.Schema.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlerUid" Type="System.Guid" />
      </Parameters>
      <Docs>
        <param name="eventHandlerUid">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociations ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociations() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.ReadEventHandlerAssociations" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociations () As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::Office::Project::Server::Schema::EventHandlersDataSet ^ ReadEventHandlerAssociations();" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociations : unit -&gt; Microsoft.Office.Project.Server.Schema.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociations " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Project.Server.Schema.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociationsForEvent">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociationsForEvent (Microsoft.Office.Project.Server.Library.PSEventID eventId);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Microsoft.Office.Project.Server.Schema.EventHandlersDataSet ReadEventHandlerAssociationsForEvent(valuetype Microsoft.Office.Project.Server.Library.PSEventID eventId) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.ReadEventHandlerAssociationsForEvent(Microsoft.Office.Project.Server.Library.PSEventID)" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociationsForEvent (eventId As PSEventID) As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::Office::Project::Server::Schema::EventHandlersDataSet ^ ReadEventHandlerAssociationsForEvent(Microsoft::Office::Project::Server::Library::PSEventID eventId);" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociationsForEvent : Microsoft.Office.Project.Server.Library.PSEventID -&gt; Microsoft.Office.Project.Server.Schema.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociationsForEvent eventId" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Project.Server.Schema.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventId" Type="Microsoft.Office.Project.Server.Library.PSEventID" />
      </Parameters>
      <Docs>
        <param name="eventId">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventsList">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Project.Server.Schema.EventsDataSet ReadEventsList ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Microsoft.Office.Project.Server.Schema.EventsDataSet ReadEventsList() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.ReadEventsList" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventsList () As EventsDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::Office::Project::Server::Schema::EventsDataSet ^ ReadEventsList();" />
      <MemberSignature Language="F#" Value="member this.ReadEventsList : unit -&gt; Microsoft.Office.Project.Server.Schema.EventsDataSet" Usage="events.ReadEventsList " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Project.Server.Schema.EventsDataSet</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void UpdateEventHandlerAssociations (Microsoft.Office.Project.Server.Schema.EventHandlersDataSet eventHandlers);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void UpdateEventHandlerAssociations(class Microsoft.Office.Project.Server.Schema.EventHandlersDataSet eventHandlers) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Project.Server.WebServiceProxy.Events.UpdateEventHandlerAssociations(Microsoft.Office.Project.Server.Schema.EventHandlersDataSet)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateEventHandlerAssociations (eventHandlers As EventHandlersDataSet)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void UpdateEventHandlerAssociations(Microsoft::Office::Project::Server::Schema::EventHandlersDataSet ^ eventHandlers);" />
      <MemberSignature Language="F#" Value="member this.UpdateEventHandlerAssociations : Microsoft.Office.Project.Server.Schema.EventHandlersDataSet -&gt; unit" Usage="events.UpdateEventHandlerAssociations eventHandlers" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Project.Server.Workflow</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlers" Type="Microsoft.Office.Project.Server.Schema.EventHandlersDataSet" />
      </Parameters>
      <Docs>
        <param name="eventHandlers">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>