<Type Name="Events" FullName="WebSvcEvents.Events">
  <TypeSignature Language="C#" Value="public class Events : System.Web.Services.Protocols.SoapHttpClientProtocol" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Events extends System.Web.Services.Protocols.SoapHttpClientProtocol" />
  <TypeSignature Language="DocId" Value="T:WebSvcEvents.Events" />
  <TypeSignature Language="VB.NET" Value="Public Class Events&#xA;Inherits SoapHttpClientProtocol" />
  <TypeSignature Language="C++ CLI" Value="public ref class Events : System::Web::Services::Protocols::SoapHttpClientProtocol" />
  <TypeSignature Language="F#" Value="type Events = class&#xA;    inherit SoapHttpClientProtocol" />
  <AssemblyInfo>
    <AssemblyName>ProjectServerServices</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Web.Services.Protocols.SoapHttpClientProtocol</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes>
    <Attribute>
      <AttributeName>System.Web.Services.WebServiceBinding(Name="EventsSoap", Namespace="http://schemas.microsoft.com/office/project/server/webservices/Events/")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Events ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Events();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void CreateEventHandlerAssociations (WebSvcEvents.EventHandlersDataSet eventHandlers);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void CreateEventHandlerAssociations(class WebSvcEvents.EventHandlersDataSet eventHandlers) cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.CreateEventHandlerAssociations(WebSvcEvents.EventHandlersDataSet)" />
      <MemberSignature Language="VB.NET" Value="Public Sub CreateEventHandlerAssociations (eventHandlers As EventHandlersDataSet)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void CreateEventHandlerAssociations(WebSvcEvents::EventHandlersDataSet ^ eventHandlers);" />
      <MemberSignature Language="F#" Value="member this.CreateEventHandlerAssociations : WebSvcEvents.EventHandlersDataSet -&gt; unit" Usage="events.CreateEventHandlerAssociations eventHandlers" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/CreateEventHandlerAssociations", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlers" Type="WebSvcEvents.EventHandlersDataSet" />
      </Parameters>
      <Docs>
        <param name="eventHandlers">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeleteEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void DeleteEventHandlerAssociations (Guid[] eventHandlerUids);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DeleteEventHandlerAssociations(valuetype System.Guid[] eventHandlerUids) cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.DeleteEventHandlerAssociations(System.Guid[])" />
      <MemberSignature Language="VB.NET" Value="Public Sub DeleteEventHandlerAssociations (eventHandlerUids As Guid())" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void DeleteEventHandlerAssociations(cli::array &lt;Guid&gt; ^ eventHandlerUids);" />
      <MemberSignature Language="F#" Value="member this.DeleteEventHandlerAssociations : Guid[] -&gt; unit" Usage="events.DeleteEventHandlerAssociations eventHandlerUids" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/DeleteEventHandlerAssociations", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlerUids" Type="System.Guid[]" />
      </Parameters>
      <Docs>
        <param name="eventHandlerUids">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociation">
      <MemberSignature Language="C#" Value="public WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociation (Guid eventHandlerUid);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociation(valuetype System.Guid eventHandlerUid) cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.ReadEventHandlerAssociation(System.Guid)" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociation (eventHandlerUid As Guid) As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; WebSvcEvents::EventHandlersDataSet ^ ReadEventHandlerAssociation(Guid eventHandlerUid);" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociation : Guid -&gt; WebSvcEvents.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociation eventHandlerUid" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/ReadEventHandlerAssociation", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>WebSvcEvents.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlerUid" Type="System.Guid" />
      </Parameters>
      <Docs>
        <param name="eventHandlerUid">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociations ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociations() cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.ReadEventHandlerAssociations" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociations () As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; WebSvcEvents::EventHandlersDataSet ^ ReadEventHandlerAssociations();" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociations : unit -&gt; WebSvcEvents.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociations " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/ReadEventHandlerAssociations", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>WebSvcEvents.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventHandlerAssociationsForEvent">
      <MemberSignature Language="C#" Value="public WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociationsForEvent (WebSvcEvents.PSEventID eventId);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class WebSvcEvents.EventHandlersDataSet ReadEventHandlerAssociationsForEvent(valuetype WebSvcEvents.PSEventID eventId) cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.ReadEventHandlerAssociationsForEvent(WebSvcEvents.PSEventID)" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventHandlerAssociationsForEvent (eventId As PSEventID) As EventHandlersDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; WebSvcEvents::EventHandlersDataSet ^ ReadEventHandlerAssociationsForEvent(WebSvcEvents::PSEventID eventId);" />
      <MemberSignature Language="F#" Value="member this.ReadEventHandlerAssociationsForEvent : WebSvcEvents.PSEventID -&gt; WebSvcEvents.EventHandlersDataSet" Usage="events.ReadEventHandlerAssociationsForEvent eventId" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/ReadEventHandlerAssociationsForEvent", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>WebSvcEvents.EventHandlersDataSet</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventId" Type="WebSvcEvents.PSEventID" />
      </Parameters>
      <Docs>
        <param name="eventId">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReadEventsList">
      <MemberSignature Language="C#" Value="public WebSvcEvents.EventsDataSet ReadEventsList ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class WebSvcEvents.EventsDataSet ReadEventsList() cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.ReadEventsList" />
      <MemberSignature Language="VB.NET" Value="Public Function ReadEventsList () As EventsDataSet" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; WebSvcEvents::EventsDataSet ^ ReadEventsList();" />
      <MemberSignature Language="F#" Value="member this.ReadEventsList : unit -&gt; WebSvcEvents.EventsDataSet" Usage="events.ReadEventsList " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/ReadEventsList", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>WebSvcEvents.EventsDataSet</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateEventHandlerAssociations">
      <MemberSignature Language="C#" Value="public void UpdateEventHandlerAssociations (WebSvcEvents.EventHandlersDataSet eventHandlers);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void UpdateEventHandlerAssociations(class WebSvcEvents.EventHandlersDataSet eventHandlers) cil managed" />
      <MemberSignature Language="DocId" Value="M:WebSvcEvents.Events.UpdateEventHandlerAssociations(WebSvcEvents.EventHandlersDataSet)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateEventHandlerAssociations (eventHandlers As EventHandlersDataSet)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void UpdateEventHandlerAssociations(WebSvcEvents::EventHandlersDataSet ^ eventHandlers);" />
      <MemberSignature Language="F#" Value="member this.UpdateEventHandlerAssociations : WebSvcEvents.EventHandlersDataSet -&gt; unit" Usage="events.UpdateEventHandlerAssociations eventHandlers" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>ProjectServerServices</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Web.Services.Protocols.SoapDocumentMethod("http://schemas.microsoft.com/office/project/server/webservices/Events/UpdateEventHandlerAssociations", ParameterStyle=System.Web.Services.Protocols.SoapParameterStyle.Wrapped, RequestNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", ResponseNamespace="http://schemas.microsoft.com/office/project/server/webservices/Events/", Use=System.Web.Services.Description.SoapBindingUse.Literal)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventHandlers" Type="WebSvcEvents.EventHandlersDataSet" />
      </Parameters>
      <Docs>
        <param name="eventHandlers">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>